body {
    font-family: Arial, sans-serif;
    background-color: #FDF6E3; 
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color:#ff9aa2; 
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 20px;
}

.logo.circular {
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #D9A5A5;
    border-radius: 5px;
}


.search-container {
    margin: 20px auto;
    display: flex;
    justify-content:flex-end;
    align-items: left;
}

.search-box {
    padding: 8px;
    width: 200px;
    border: 2px solid #C98B8B;
    border-radius: 5px;
    justify-content: flex-end;
}

.search-button {
    background-color: #F9C9C9;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: #F9C9C9; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item h3 {
    color: #8B5E5E; 
}

.gallery-item button {
    background-color: #C98B8B;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-item button:hover {
    background-color: #A67474;
}


footer {
    background-color: #ff9aa2;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}
